<!DOCTYPE html>
<html>
    <body>
        <main>
            <%= form_with model: @book do |f| %>
                <h2>Book detail</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <!--投稿したuserの画像が設定される-->
                            <td><%= @user.name %></td>
                            <td><%= f.title %></td>
                            <td><%= f.body %></td>
                            <% if @user.id == current_user.id? 
                            <td>
                                <button type="button" class="btn btn-danger">
                                    <%= link_to "Destroy","/books/#{f.id}", method: :delete, "data-confirm" => "Do you really want to delete it?" %>
                                </button>                                
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">
                                    <%= link_to "Destroy","/books/#{f.id}", method: :delete, "data-confirm" => "Do you really want to delete it?" %>
                                </button>
                            </td>
                        <tr>
                    </tbody>
                </table>
            <% end %>
        </main>
    </body>
</html>