<div class="container">
    <div class="row">
        <%= render 'layouts/userinfo', {user: @user, book: @book} %>
        <div class="col-8 offset-1">
            <h2>Book detail</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td><%= image_tag @user.get_profile_image(100,100) %><br><%= link_to @user.name, user_path(@user.id) %></td>
                        <td><%= @book.title %></td>
                        <td><%= @book.body %></td>
                        
                        <!--カレントユーザの場合のみ、
                        「Edit」ボタン「Destroy」ボタンを表示-->
                        <% if @user.id =! current_user.id? %>
                            <td>
                                <button type="button" class="btn btn-success">
                                    <%= link_to "Edit", edit_book_path{@book.id}, class: "text-light text-decoration-none" %>
                                </button>                                
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">
                                    <%= link_to "Destroy","/books/#{@book.id}",class: "text-light text-decoration-none", method: :delete, "data-confirm" => "Do you really want to delete it?" %>
                                </button>
                            </td>
                        <% end %>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
