<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/fb873a8e10.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand p-2" href= "/">Bookers</a>
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                   <i class="fa-solid fa-house-chimney-user nav-link text-white"><%= link_to 'Home', user_path(current_user.id), class: 'nav-link text-dark' %></i>
                </li>
                <li class="nav-item">
                  <a class=nav-link text-light href="/users"><i class="fa-solid fa-users"></i>Users</a>          
                </li>
                <li class="nav-item">
                  <a class=nav-link text-light href="/books"><i class="fa-solid fa-book-open"></i>Books</a>          
                </li>
                <li class="nav-item">
                  <!--<a class=nav-link text-light href="/users/sign_out"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>          -->
                   <i class="fa-solid fa-right-from-bracket nav-link text-light"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %></i>
                </li>
              <% else %>
                <li class="nav-item">
                  <a class=nav-link text-light href="/"><i class="fa-solid fa-house-chimney"></i>Home</a>
                </li>
                <li class="nav-item">
                  <a class=nav-link text-light href="/homes/about"><i class="fa-solid fa-link"></i>About</a>
                </li>
                <li class="nav-item">
                  <a class=nav-link text-light href="/users/sign_up"><i class="fa-solid fa-user-plus"></i>Sign up</a>
                </li>
                <li class="nav-item">
                  <a class=nav-link text-light href="/users/sign_in"><i class="fa-solid fa-right-to-bracket"></i>Log up</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <p class="mx-auto">CopyRight Infratop.inc</p>          
        </div>
      </div>
    </footer>
  </body>
</html>
